[Unit]
Description=Fan Mode Control Service
After=multi-user.target

[Service]
ExecStart=/home/naimish/.local/bin/update_fan_mode

[Install]
WantedBy=multi-user.target

